# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Standard encoding and whitespace
[*.{json,sh,yml,yaml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space

[*.sh]
insert_final_newline = true
