# Directories
# -----------
/.idea/
.terraform/

# Files
# -----
/.docker/secrets.env
/.terraform.lock.hcl
/app/bootstrap
/app/bootstrap.exe
/app/bootstrap.zip
/app/cmd/bootstrap/info.go
/app/cmd/server/info.go
/app/server.exe
/tests/*-ignore.tfvars
/tests/testdata/bootstrap.zip
