# Directories
# -----------
/.idea/
.terraform/

# Files
# -----
/.terraform.lock.hcl
/app/bootstrap.exe
/app/server.exe
/app/bootstrap
/app/bootstrap.zip
/app/cmd/bootstrap/info.go
/app/cmd/server/info.go
/terraform-test-results.xml
